<% products.each_slice(Boiler::PER_PAGE) do |slice| %>
  <div class="goods-preview">
    <% slice.each do |product| %>
      <div class="boiler-preview">
      	<%= link_to image_tag(product.picture.photo.url(:thumb), :class => "boiler-image"), product_path(product) %>
      	<div><%= format_price product.price %></div>
      	<%= product_link(product) %>
      </div>
    <% end %>
	</div>  
<% end %>