<% if @boilers.any? %>
  <div class="goods-preview_list">
    <%= render 'product_list', :products => @boilers %>
  </div>
<% else %>
  <h1>No boilers in database</h1>
<% end %>

<% content_for :header do%>
	<h1><%= @category.nil? ? 'All Boilers' : @category.name %></h1>
<% end %>