<% if @boilers.any? %>
  <% @boilers.each do |boiler| %>
    <div><%= link_to boiler.name, category_boiler_path(boiler.category_id, boiler.id) %></div>
  <% end %>
<% else %>
  <h1>No boilers in database</h1>
<% end %>

<% content_for :header do%>
	<h1><%= @category.nil? ? 'All Boilers' : @category.name %></h1>
<% end %>