<% if @boilers.any? %>
  <div class="goods-preview">
    <% @boilers.each_with_index do |boiler, index| %>
      <div class="boiler-preview">
      	<%= image_tag boiler.picture.photo.url(:thumb), :class => "boiler-image" %>
      	<div><%= "$#{boiler.price}" %></div>
      	<%= link_to boiler.name, category_boiler_path(boiler.category_id, boiler.id) %>
      </div>
      <% if index % 4 == 3 && boiler != @boilers.last%>
    		</div>
        <div class="goods-preview">
    	<% end %>
    <% end %>
  </div>
<% else %>
  <h1>No boilers in database</h1>
<% end %>

<% content_for :header do%>
	<h1><%= @category.nil? ? 'All Boilers' : @category.name %></h1>
<% end %>