<% total_price = 0 %>
<table>
	<% session[:goods].each do |type| %>
		<% if type[0] == 'boiler' %>
			<% type[1].each do |product| %>
				<% boiler = Boiler.find(product[0]) %>
				<% quantity = product[1] %>
				<% price = boiler.price * quantity %>
				<% total_price += price %>
				<tr class="boiler">
					<td><%= "#{boiler.name}" %></td>
					<td><%= "#{quantity}" %></td>
					<td><%= "$#{price}" %></td>
				</tr>
			<% end %>
		<% end %>
	<% end %>
	<tr class="boiler">
		<td colspan="2">Total:</td>
		<td><%= "$#{total_price}" %></td>
	</tr>
</table>