<% if @services.any? %>
  <% @services.each do |service| %>
    <div><%= link_to service.name, category_service_path(service.category_id, service.id) %></div>
  <% end %>
<% else %>
  <h1>No services in database</h1>
<% end %>

<% content_for :header do%>
	<h1><%= @category.nil? ? 'All Services' : @category.name %></h1>
<% end %>