.clear {
  clear: both;
}

#main-menu li{
  display: inline;
}

.goods-preview {
  margin-bottom: 20px;
}

#store-logo {
  text-align: center;
}

#body-wrapper {
  width: 70%;
  padding-bottom: 0;
  display: inline-block;
  vertical-align: top;
  margin-top: -98px;
}

#about-wrapper {
	padding: 0 20px;
}

#about-wrapper h3 {
	text-align: center;
}

#header h1{
	text-align: center;
	margin: 0;
}

#header {
	margin-bottom: -16px;
  color: #FFFFFF;
}

#content-wrapper {
	display: inline-block;
  margin-bottom: 20px;
}

body {
	margin: 0;
	background-color: #D0D0EE;
}

.field_with_errors {
  display: inline-block;
}

.field_with_errors input {
  border: 2px solid red;
}

.field_error {
  background-color: #B10D0D;
  color: white;
  font-size: 12px;
  padding: 2px 3px;
  vertical-align: middle;
}

.head-wrapper {
  background: url('/images/background_header.jpg') no-repeat;
  background-size: 100%;
  padding-bottom: 148px;
}