#main-menu li{
  display: inline;
}

.goods-preview {
  margin-bottom: 20px;
}

.description {
  max-width: 600px;
  margin-top: 15px;
}

.boiler-attribures, .service-attribures {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}

.price-show {
  font-size: 24px;
  font-weight: bold;
}

.buy-button {
  background: none repeat scroll 0 0 #C6AC09;
  border-radius: 16px 16px 16px 16px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 30px;
  text-decoration: none;
  color: #31187E;
}

.boiler-picture, .service-picture {
  display: inline-block;
}

#customer-basket{
  background-color: #B0B0D0;
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  margin-left: 10px;
}

#store-logo {
  text-align: center;
}

.boiler-image {
  display: block;
}

.boiler-preview {
  display: inline-block;
}

.service-image {
  display: block;
}

.service-preview {
  display: inline-block;
}

#body-wrapper {
  width: 70%;
  margin-top: 15px;
  margin-left: 70px;
  background-color: #B0B0D0;
  padding-bottom: 0;
  display: inline-block;
  vertical-align: top;
}

.setting-name {
  display: inline-block;
  font-style: italic;
  font-weight: bolder;
  width: 120px
}

.setting-value {
  display: inline-block;
  margin: 0;
}

#about-wrapper {
	padding: 0 20px;
}

#about-wrapper h3 {
	text-align: center;
}

#main-menu li a{
  border: 1px #444488;
  background-color: #99AABD;
  color: #000;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
}

#main-menu-items {
	padding: 15px 10px;
	display: inline-block;
	margin: 0;
}

.session-links {
	display: inline-block;
	margin-right: 20px;
  margin-top: 1.7%;
  float:right;
}

.session-links a {
	color: #000000;
}

#main-menu {
	background-color: #507090;
  margin-bottom: 16px;
  margin-top: 18px;
}

#header h1{
	text-align: center;
	margin: 0;
}

#header {
	background-color: #B0B0D0;
	margin-bottom: -16px;
}

#content-wrapper {
	display: inline-block;
  margin-bottom: 20px;
}

#side-menu {
	background-color: #507090;
    display: inline-block;
    margin-top: -16px;
    vertical-align: top;
    margin-right: 20px;
    min-height: 400px;
}

#side-menu ul{
	list-style: none outside none;
    margin-right: 5px;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#side-menu li{
	margin-bottom: 10px;
}

#side-menu li a{
	color: #222222;
}

#side-menu li a:hover {
	color: #BBBBBB;
}

body {
	margin: 0;
	background-color: #D0D0EE;
}