.session-links {
  display: inline-block;
  margin-right: 20px;
  margin-top: 1.7%;
  float:right;
}

.session-links a {
  color: #000000;
}

#customer-cart{
  display: inline-block;
}

.cart-content {
  background-color: #B0B0D0;
  vertical-align: top;
  margin-left: 10px;
  padding: 10px;
}

.product-quantity {
	display: inline-block;
  margin: 0;
 }

.product-price {
	display: inline-block;
	margin: 0;
	float: right;
}

.cart-total {
    border-top: 1px solid;
    padding-top: 5px;
}

.cart-total dd, .cart-total dt{
	display: inline-block;
}

.cart-total dt {
	padding-left: 10px;
}

.quantity-increase {
	background-color: #D31434;
  border-radius: 10px 0 0 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.quantity-decrease {
	background-color: #D31434;
  border-radius: 0px 10px 10px 0px;
  color: #FFFFFF;
  padding-left: 2px;
  padding-right: 5px;
  text-decoration: none;
}

.cart-total dd {
	margin: 0;
	float: right;
}

.product-name {
	display: inline-block;
  margin-right: 5px;
  padding-left: 10px;
  width: 75px;
}

.product-list {
	margin: 0 0 15px;
}

.cart-type {
	border-bottom: 1px solid #000000;
  font-size: 16px;
  font-style: italic;
  margin: 0 0 10px;
  text-align: right;
}

.clear-cart {
	background-color: #7C92B1;
  border-radius: 8px 8px 8px 8px;
  color: #000000;
  padding: 3px 10px;
  text-decoration: none;
  float: left;
}

.clear-cart:hover {
	color: #FFFFFF;
}

.make-order:hover {
	color: #A90D0D;
}

.make-order {
	text-decoration: none;
	background-color: #E1E7A3;
  border-radius: 8px 8px 8px 8px;
  color: #000000;
  padding: 3px 10px;
  float: right;
  font-style: italic;
}