#side-menu {
  background: -moz-linear-gradient(top, rgb(150,136,87) 5%, rgb(214,193,123) 45%);
  background: -webkit-linear-gradient(top, rgb(83,97,107) 5%, rgb(214,193,123) 45%);
	display: inline-block;
  vertical-align: top;
  min-height: 400px;
}

#side-menu ul{
	list-style: none outside none;
  margin-right: 5px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#side-menu li{
	margin-bottom: 20px;
}

#side-menu li a{
	color: #222222;
  border-radius: 13px;
  background: -moz-linear-gradient(bottom, rgb(255,203,131) 45%, rgb(253,253,207) 85%);
  background: -webkit-linear-gradient(bottom, rgb(255,203,131) 45%, rgb(253,253,207) 85%);
  background: linear-gradient(bottom, rgb(255,203,131) 45%, rgb(253,253,207) 85%);
  padding: 5px 10px;
  text-decoration: none;
}

#side-menu li a.selected-category{
  background: -moz-linear-gradient(bottom, rgb(255,136,8) 45%, rgb(253,251,163) 85%);
  background: -webkit-linear-gradient(bottom, rgb(255,136,8) 45%, rgb(253,251,163) 85%);
  background: linear-gradient(bottom, rgb(255,136,8) 45%, rgb(253,251,163) 85%);
}

#side-menu li a:hover {
	color: #BBBBBB;
}