<% if session[:goods].present? && session[:goods].to_a.flatten[1].present?%>
	<% total_price = 0 %>
	<table>

		<tr class="cart-total">
			<td colspan="2">Total:</td>
			<td><%= format_price total_price %></td>
		</tr>
		<tr class="cart-remove">
			<td><%= link_to 'Clear', "#", :class => "clear-cart" %></td>
			<td colspan="2"><%= link_to 'Make Order', new_order_path, :class => "make-order" %></td>
		</tr>
	</table>
<% end %>