<% if @categories.any? %>
	<ul id="category-list">
	  <% @categories.each do |category| %>
	    <li class="category">
	    	<%= category_link(category) %>
	    </li>
	  <% end %>
  </ul>
<% else %>
  <h1>No categories in database</h1>
<% end %>

<% content_for :header do%>
	<h1>Categories</h1>
<% end %>
