<% if @categories.any? %>
  <% @categories.each do |category| %>
    <div>
    	<%= link_to category.name, category.boilers.any? ? category_boilers_path(category) :
    																										 category_services_path(category) %>
    </div>
  <% end %>
<% else %>
  <h1>No categories in database</h1>
<% end %>

<% content_for :header do%>
	<h1>Categories</h1>
<% end %>
